/* Fonts Style */

@import url('https://fonts.googleapis.com/css2?family=Righteous&family=Sarala:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;   
}

body {
    font-size: 100%;
    background: linear-gradient(30deg, #b57f3d 20%, #e86d6d 80%);
    color: whitesmoke;

}

.header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 5%;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 40px;
    width: auto;
    height: auto;
}

.header_img {
    width: 120px;
    height: 120px; 
    max-width: 120px;
    max-height: 120px;
}

.header_menu {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 20px;

}

.header_menu_item1 {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    font-family: 'Righteous';
    font-weight: 300;
    font-size: 20px;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.50);
    border-radius: 8px;
    border: none;
    background-color: #572525;
    height: 30px;
    width: 100px;
}

.header_menu_item2 {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    font-family: 'Righteous';
    font-weight: 300;
    font-size: 20px;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.50);
    border-radius: 8px;
    border: none;
    background-color: #572525;
    height: 30px;
    width: 150px;
}

.header_menu_item3 {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    font-family: 'Righteous';
    font-weight: 300;
    font-size: 20px;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.50);
    border-radius: 5px;
    border: none;
    background-color: #572525;
    height: 30px;
    width: 120px;
}

.header_menu_item1:hover {
    color: white;
    background-color: #874040;
}

.header_menu_item2:hover {
    color: white;
    background-color: #874040;
}

.header_menu_item3:hover {
    color: white;
    background-color: #874040;
}

.content {
    margin-bottom: 20px;
    border-top: 1px solid whitesmoke;
}

.principal_content {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-around;
}

.principal_content_write {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 10px;
}

.principal_content_write_title {
    display: flex;
    align-items: center;
    font-weight: 1000;
    font-size: 48px;
    font-family: 'Righteous';
}

.principal_content_write_subtitle {
    font-family: 'Sarala';
    font-weight: 300;
    font-size: 20px;
}

.principal_content_write_button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #572525;
    font-family: 'Sarala', sans-serif;
    font-weight: 1000;
    font-size: 16px;
    color: whitesmoke;
    width: 120px;
    height: 60px;
    border: none;
    border-radius: 5px;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.50);
}

.principal_content_write_button:hover {
    background-color: #874040;
}

.principal_content_img{
    height: 350px;
}

.secondary_content {
    margin-top: 48px;
    margin-left: 48px;
    display: flex;
    flex-direction: column;
    align-items:flex-start;
    justify-content: space-around;
    gap: 14px;
}

.secondary_content_title {
    border-top: 1px solid whitesmoke;
    font-family: 'Righteous';
    font-weight: 300;
    font-size: 24px;
    padding-top: 24px;
    margin-bottom: 24px;
}

.secondary_content_subtitle {
    font-family: 'Sarala';
    font-size: 16px;
    font-weight: 0;
}

.footer {
    border-top: 1px solid whitesmoke;
    padding-top: 24px;
    display: flex;
    flex-direction: column;
}

.principal_logo {
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.secondary_logos {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.redes {
    font-family: 'Sarala';
    font-weight: 200;
}